<!DOCTYPE html>
<html>
  <head>
    <title>Upload covid19 CSV data</title>
  </head>
  <body>
    <h2>Upload covid19 CSV data</h2>
    <input type="file" id="covid19csv">
    <input type="button" value="Submit" id="submit">
    <script src="/scripts/handlecsv.js"></script>
  </body>
</html>
